<!-- template.html -->
<!DOCTYPE html>
<html>

<body>
    <h3>Bienvenue sur NLT Forum, <span>{{.Name}}</span> !</h3><br/><br/>
    
    <h2>Hello, je suis NLT-Bot.</h2>
    <p>Je suis très heureux de vous compter parmi les nouveaux membres de NLT forum essayons de le faire progresser
        ensemble !</p>

    <p>Dès à présent, pensez à remplir votre profil une fois la validation de votre compte effectuée.</p>

    <p>POINTS IMPORTANTS SUR NOTRE FORUM :</p>
    <p>- toute image publiée sur le forum doit respecter une taille de maximum 1024 pixels maximum pour le plus grand
        coté;
        pour apprendre à placer vos images sur le forum (voir ici: #########</p>


    <p>- les "prises de bec" en direct sont prohibées par respect pour le forum : si un différent vous oppose à un
        membre,
        tentez avec lui un dialogue amiable par messagerie personnelle (MP) et en cas de probleme majeur, contacter un
        administrateur ou un modérateur par MP.</p>

    <p>Il est à noter que le forum est une communauté visant à l'échange de moyens et de compétences à titre strictement
        bénévole et ne peut être considéré, en conséquences, comme un service dû. Son fonctionnement peut-être suspendu,
        partiellement ou en totalité, purement et simplement sans autre forme de justification à n'importe quel moment.
    </p>

    <p>De la même manière un membre inscrit peut être banni sur décision de la modération où décision du propriétaire du
        forum, sans recours possible autre qu'une éventuelle demande amiable en direction du propriétaire.</p>

    <p>Notre raison d'exister est motivée par la convivialité, la bonne humeur et le respect de l'autre, merci de nous
        suivre sur ce chemin.
    </p>
    <p>Amicalement NLT-Bot.</p>

    <h3>Voici ton lien d'activation de compte : <a href="http://localhost:1010/validation_mail?={{.Link}}">Clique-moi dessus</a></h3><br/>
</body>

</html>