<!DOCTYPE html>
<html lang="en" >
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Register</title>
    <link  href="./assets_global/css/create_post.css"rel="stylesheet">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form>
        <h3>Here you can create a post :</h3>

        <div class="postname">
        <label for="postname">Post name</label>
        <input type="text" placeholder="Email or Phone" id="username_register">
        </div>

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password_register">

        <label for="confirm_password">Confirm Password</label>
        <input type="password" placeholder="Confirm Password" id="confirm_password_register">
        <p class="login"><a href="/login">Click here to register</a></p>
    </form>
</body>
</html>
