<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Forum template">
    <meta property="og:url" content="">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Forum template">
    <meta property="og:description" content="Forum template">
    <meta property="og:image" content="">
    <!-- <link rel="stylesheet" href="././assets_global_global/css/login.css"> -->
    <link rel="shortcut icon" href="./assets_global/img/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">
    <link href="./assets_global/css/style.css" rel="stylesheet">
    <script src="https://cdn.tiny.cloud/1/ftnlqzbd2t8o2rodvb77d87vi27ldv6u39eza432pces5v8l/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script>
    <title>Forum template</title>
</head>

<body>
    <div class="topbar px-2 py-1 d-flex justify-content-between align-items-center position-relative">
        <ul class="nav me-4 d-flex justify-content-center align-items-center">
            <li class="nav-item">
                <a class="nav-link" href="/forum">Forum</a>
            </li>

            {{if eq .Rank "1"}}
            <li class="nav-item">
                <a class="nav-link" href="/admin_panel">Admin panel</a>
            </li>
            {{end}}

        </ul>
        <ul class="nav me-4 d-flex justify-content-center align-items-center">
            <li class="nav-item position-relative">
                <a class="nav-link d-flex justify-content-center align-items-center" href="#"><i
                        class="bx bx-bell"></i></a>
                <span class="position-absolute top-0 end-0 badge rounded-pill bg-warning text-dark">2</span>
            </li>
            {{if eq .Rank "4"}}
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
            {{end}}
            {{if ne .Rank "4"}}
            <li class="nav-item">
                <a class="nav-link" href="/profil?={{.User}}">{{.User}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log out</a>
            </li>
            {{end}}
        </ul>
    </div>

    <header class="container p-0 mt-5 mx-0 mx-auto">
        <div class="picture d-flex justify-content-center align-items-center">
            <div class="text-center">
                <img class="logo" src="./assets_global/img/logo.png" alt="NagForum Logo">
                <h1 class="text-white">Wemcome to NLT</h1>
                <p class="text-white">If you have any questions, do not hesitate to contact the staff.                </p>
            </div>
        </div>
        <div class="divider"></div>
    </header>
    <!---->
    <section class="container mx-auto p-4 forum">
        <div class="row">
            <div class="col-md-12">

                <section class="container mx-auto p-4 forum">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="d-flex mt-4 justify-content-between align-items-center">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/forum">FORUM</a></li>
                                        <li class="breadcrumb-item"><a class="active" href="/create_post">New post</a></li>
                                    </ol>
                                </nav>

                            </div>
                            {{if eq .Rank "4"}}
                            <h1 style="text-align: center;color: #c2504c;">Tu n'es pas autorisé à poster de sujet !
                                Commence par te
                                connecter d'abord.</h1>
                            {{end}}
                            {{if ne .Rank "4"}}
                            <!--post-->
                            <form action="create_post?=send" method="post">
                                <div id="post" class="container mt-4 py-3 px-4">
                                    <div class="row g-3">
                                        <div id="profil" class="col-md-12 mt-4 p-4 border-profil position-relative">
                                            <!--TITRE-->
                                            <div class="subtitle px-1" style="background-color: #fff0;">
                                                <a class="btn btn-primary btn-sm me-2"><i
                                                        class="bx bx-edit-alt"></i><button class="registerbuttonrelou"
                                                        type="submit" value="Login">Post it</button></a>
                                            </div>
                                            <div class="mb-3 mt-3 p-0">
                                                <input type="text" class="form-control" id="title"
                                                    aria-describedby="postTitle" placeholder="Title" name="Post_Title">
                                            </div>
                                            <!--FIN TITRE-->
                                            <br>
                                            <!--CATEGO-->
                                            <div id="profil" class="col-md-12 mt-4 p-4 border-profil position-relative"
                                                style="border-color:rgba(232, 188, 117, 0.281);">
                                                <div class="subtitle px-1" style="background-color: #fff0;">
                                                    <label class="btn btn-primary btn-sm me-2">Select categorie
                                                        :</label>
                                                </div>
                                                <br>
                                                <div class="rows">
                                                    <!--Début-->
                                                    <div class="radio-toolbar">

                                                        <input type="radio" id="radioApple" name="categorie_id"
                                                            value="apple">
                                                        <label for="radioApple">Apple</label>

                                                        <!-- <input type="radio" id="radioBanana" name="radioFruit"
                                                            value="banana">
                                                        <label for="radioBanana">Banana</label>

                                                        <input type="radio" id="radioOrange" name="radioFruit"
                                                            value="orange">
                                                        <label for="radioOrange">Orange</label> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <br><br>
                                            <!--FIN CATEGO-->
                                            <!--CONTENT-->
                                            <textarea
                                                placeholder="Please respect the spelling as much as possible. Any post put in the wrong section can be moved to the appropriate category. Non-compliance with the rules leads to the deletion of the post, and the permanent banishment of the creator of the post. 🙂"
                                                name="Post_Content">
                                             </textarea>
                                            <!--FIN CONTENT-->
                                        </div>
                                    </div>
                                    <!---->
                                </div>
                            </form> {{end}}
                            <!--post-->


                        </div>
                    </div>

            </div>
    </section>
    </div>
    </div>
    </section>



    <!---->
    <footer class="container mb-5">
        <div class="row divider"></div>
        <div class="row px-2 py-4">
            <div class="col-md-5">
                <p>Powered by <a href="https://go.dev/">Go </a>Design by <a href="https://github.com/Naywvi">Nagib</a>
                </p>
            </div>
            <div class="col-md-7 text-end">
                <p><a href="https://github.com/Naywvi">Contact us</a> | <a href="#">Policy of
                        privacy

                    </a> | <a href="">Staff :</a> [ <a href="https://github.com/Naywvi">Nagib</a> - <a href="https://github.com/Luxchar">Luc.C</a> - <a href="https://github.com/LucMartin91">Luc.M</a> - <a href="https://github.com/ByLife">Léo</a> - <a href="https://github.com/JustZyrow">Terry</a> ]</p>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.tiny.cloud/1/a1oa0uw4ffrixbzpelg35rdxmzpx9imirkgfbkz5d62qcnuj/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script>
    <script src="./assets_global/js/main.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'a11ychecker casechange linkchecker autolink lists checklist permanentpen powerpaste table',
            toolbar: '',
            toolbar_mode: 'floating',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
        });
    </script>

</body>

</html>