<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Forum template">
    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Forum template" />
    <meta property="og:description" content="Forum template" />
    <meta property="og:image" content="" />
    <!-- <link rel="stylesheet" href="././assets_global_global/css/login.css"> -->
    <link rel="shortcut icon" href="./assets_global/img/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="./assets_global/css/style.css" rel="stylesheet">

    <title>Nlt - Categorie {{.Categorie}}</title>

</head>

<body>
    <div class="topbar px-2 py-1 d-flex justify-content-between align-items-center position-relative">
        <ul class="nav me-4 d-flex justify-content-center align-items-center">


            {{if eq .Rank "1"}}
            <li class="nav-item">
                <a class="nav-link" href="/admin_panel">Admin panel</a>
            </li>
            {{end}}
            <li class="nav-item">
                <a class="nav-link" href="/forum">forum</a>
            </li>

        </ul>
        <ul class="nav me-4 d-flex justify-content-center align-items-center">
            {{if ne .Rank "4"}}
            <li class="nav-item position-relative">
                <a class="nav-link d-flex justify-content-center align-items-center" href="#"><i
                        class="bx bx-bell"></i></a>
                <span class="position-absolute top-0 end-0 badge rounded-pill bg-warning text-dark">2</span>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/profil?={{.Username}}">{{.Username}}</a>
            </li>
            {{end}}
            
            {{if eq .Rank "4"}}
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
            {{end}}
            {{if ne .Rank "4"}}
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log out</a>
            </li>
            {{end}}
        </ul>
    </div>

    <header class="container p-0 mt-5 mx-0 mx-auto">
        <div class="picture d-flex justify-content-center align-items-center">
            <div class="text-center">
                <img class="logo" src="./assets_global/img/logo.png" alt="NagForum Logo">
                <h1 class="text-white">Wemcome to NLT</h1>
                <p class="text-white">If you have any questions, do not hesitate to contact the staff.                </p>
            </div>
        </div>
        <div class="divider"></div>
    </header>
    <!---->
    <section class="container mx-auto p-4 forum">
        <div class="row">
            <div class="col-md-12">

                <div class="d-flex mt-4 justify-content-between align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/forum">FORUM</a></li>
                            <li class="breadcrumb-item"><a class="active" href="/categorie?={{.Categorie}}">Categorie: {{.Categorie}}</a></li>
                        </ol>
                    </nav>
                    {{if ne .Rank "4"}}
                    <a href="/create_post" class="btn btn-primary btn-sm"><small>Add new post</small></a>
                    {{end}}
                </div>
                <h2 style="text-align: center;">Search Post</h2>
  

                <form action="/action_page.php">
                    <input style="margin:auto; display:block;" list="listPost" type="text" placeholder="Search a Post" onchange="location = this.value;" id="Post" name="Post">
                    <datalist id="listPost">
                       
                        {{range .Post}}
                        <option value="post?={{.Id}}&Reply_to=post" >{{.Title}}</option>
                        {{end}}
                    </datalist>
                    <br>
                    <div style="display: flex;align-items: center;justify-content: center;">
                         <input style="  margin:auto; display:block;border-style: none;" type="submit" value="✔" name="recherche" id="test">
                    </div>
             
                    
                </form>
         
                <div id="post" class="container mt-4 py-3 px-4">
                    <div class="row g-3">

                        <div class="header d-flex flex-row align-items-center py-2">
                            <div class="col-md-7">Subject</div>
                            <div class="col-md-1 text-center">Reply</div>
                            <div class="col-md-1 text-center">Likes</div>
                            <div class="col-md-3 text-center">Information</div>
                        </div>

                        <!-- DEBUT - Partie à répéter -->
 
         {{range $p := .Post}}

                        <a class="item d-flex align-items-center p-2" href="/post?={{$p.Id}}&Reply_to=post&categorie={{.Categorie}}">
                            <div class="col-md-1 d-flex justify-content-center align-items-center">
                                <div class="rounded position-relative">
                                    <i class="bx bx-spreadsheet bx-md"></i>
                                    
                                    <i
                                        class="bx bxs-message-rounded-add bx-xs position-absolute top-0 end-0 text-yellow"></i>
                                </div>
                            </div>
                            <div class="col-md-6 px-2">
                          
                                <h5>{{$p.Title}}</h5>
                                {{$p.Content}}
                                
                            </div>
                            <div class="col-md-1 text-center">
                                <p>{{$p.Nb_Reply}}</p>

                            </div>
                            <div class="col-md-1 text-center">
                                <p>{{$p.Likes}}</p>
                            </div>
                            <div class="col-md-3 text-center author">
                                <p>Posted by <span class="text-yellow">{{$p.Posted_user}}</span></p>
                                <p class="date">{{$p.Last_Posted}}</p>
                            </div>
                        </a>
                  
                     {{end}}
                        <!-- FIN - Partie à répéter -->
                      
                       


                        

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!---->
    <footer class="container mb-5">
        <div class="row divider"></div>
        <div class="row px-2 py-4">
            <div class="col-md-5">
                <p>Powered by <a href="https://go.dev/">Go </a>Design by <a href="https://github.com/Naywvi">Nagib</a>
                </p>
            </div>
            <div class="col-md-7 text-end">
                <p><a href="https://github.com/Naywvi/Forum">Contact us</a> | <a href="#">Policy of
                        privacy

                    </a> | <a href="">Staff :</a> [ <a href="https://github.com/Naywvi">Nagib</a> - <a href="https://github.com/Luxchar">Luc.C</a> - <a href="https://github.com/LucMartin91">Luc.M</a> - <a href="https://github.com/ByLife">Léo</a> - <a href="https://github.com/JustZyrow">Terry</a> ]</p>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.tiny.cloud/1/a1oa0uw4ffrixbzpelg35rdxmzpx9imirkgfbkz5d62qcnuj/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script>
    <script src="./assets_global/js/main.js"></script>
</body>

</html>