<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Forum template">
    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Forum template" />
    <meta property="og:description" content="Forum template" />
    <meta property="og:image" content="" />
    <!-- <link rel="stylesheet" href="././assets_global_global/css/login.css"> -->
    <link rel="shortcut icon" href="./assets_global/img/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="./assets_global/css/style.css" rel="stylesheet">
    <script src="https://cdn.tiny.cloud/1/ftnlqzbd2t8o2rodvb77d87vi27ldv6u39eza432pces5v8l/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script>
    <title>Forum template</title>

</head>

<body>

    <div class="topbar px-2 py-1 d-flex justify-content-between align-items-center position-relative">
        <ul class="nav me-4 d-flex justify-content-center align-items-center">
            <li class="nav-item">
                <a class="nav-link" href="#">NagWebSite</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Me contacter</a>
            </li>
        </ul>
        <ul class="nav me-4 d-flex justify-content-center align-items-center">
            <li class="nav-item position-relative">
                <a class="nav-link d-flex justify-content-center align-items-center" href="#"><i
                        class='bx bx-bell'></i></a>
                <span class="position-absolute top-0 end-0 badge rounded-pill bg-warning text-dark">2</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">UserName</a>
            </li>
        </ul>
    </div>

    <header class="container p-0 mt-5 mx-0 mx-auto">
        <div class="picture d-flex justify-content-center align-items-center">
            <div class="text-center">
                <img class="logo" src="./assets_global/img/logo.png" alt="NagForum Logo">
                <h1 class="text-white">Bienvenue sur le forum</h1>
                <p class="text-white">Je suis heureux de vous accueillir sur mon Forum, profitez bien !</p>
            </div>
        </div>
        <div class="divider"></div>
    </header>
    <!---->
    <section class="container mx-auto p-4 forum">
        <div class="row">
            <div class="col-md-12">

                <div class="d-flex mt-4 justify-content-between align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">FORUM</a></li>
                            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                            <li class="breadcrumb-item"><a href="#">Subcat 1</a></li>
                            <li class="breadcrumb-item"><a class="active" href="#">Titre 1</a></li>
                        </ol>
                    </nav>

                </div>
                <div id="details" class="container mt-4 py-3 px-4">


                    <div class="row g-3">
                        {{range $p := .Post}}
                        <div class="d-flex flex-row justify-content-center align-items-center">
                            <div class="col-md-1">
                                <img class="w-75 rounded-circle shadow mt-2" src="https://picsum.photos/200/200" alt="">
                            </div>
                            <div class="col-md-11 pb-3">
                                <h1 class="text-white details">
                                    <i class="bx bx-spreadsheet"></i> <strong class="text-yellow">
                                        {{$p.Title}}
                                    </strong><br>
                                    <small>
                                        Posted {{$p.Last_Posted}} by
                                        <!--Date--> <a class="text-yellow" href="/profil?={{$p.Posted_user}}">
                                            {{$p.Posted_user}}
                                        </a>

                                        {{ if eq .Posted_user_rank "3" }}
                                        <span class="badge bg-success">Member</span>
                                        {{else if eq .Posted_user_rank "2" }}
                                        <span class="badge bg-danger">Moderator</span>
                                        {{else if eq .Posted_user_rank "1"}}
                                        <span class="badge bg-warning text-dark">Admin</span>
                                        {{end}}

                                        <br><br>

                                    </small>
                                </h1>
                            </div>
                        </div>


                        <div class="col-md-12 px-2">

                            {{$p.Content}}

                        </div>
                        
                        <div class="col-md-12 px-2 mt-2 d-flex justify-content-end">
                            <!-- SI AUTEUR DU POST-->
                            
                            {{ if eq .User_connected .Posted_user }}
                            <a href="/post?={{$p.Id}}&deletep={{$p.Id}}" class="btn btn-danger btn-sm me-2"><i class="bx bx-trash"></i> Supprimer</a>
                            <!-- <a href="" class="btn btn-primary btn-sm me-2"><i class="bx bx-edit-alt"></i> Éditer</a> -->
                            {{else if eq .User_connected_rank "1"}}

                            <a href="/post?={{$p.Id}}&deletep={{$p.Id}}" class="btn btn-danger btn-sm me-2" style="background-color: green;"><i
                                    class="bx bx-trash"></i> Supprimer [ADMIN]</a>
                            <!-- <a href="" class="btn btn-primary btn-sm me-2" style="background-color: green;"><i
                                    class="bx bx-edit-alt"></i> Éditer [ADMIN}</a> -->
                            {{else if eq .User_connected_rank "2"}}
                            <a href="/post?={{$p.Id}}&deletep={{$p.Id}}" class="btn btn-danger btn-sm me-2" style="background-color: green;"><i
                                    class="bx bx-trash"></i> Supprimer</a>
                            <!-- <a href="" class="btn btn-primary btn-sm me-2" style="background-color: green;"><i
                                    class="bx bx-edit-alt"></i> Éditer</a> -->

                            {{end}}
                            {{end}}
                            <!-- SI NON-->
                            {{if ne .Rank "4"}}
                            <a href="post?={{.Post_Id}}&Reply_to=post&#answer" class="btn btn-primary btn-sm me-2"><i
                                    class="bx bx-notepad"></i> Répondre</a>
                            {{end}}
                        </div>



                        <!-- DEBUT - Réponses -->

                        <div class="item">
                            <form method="post">
                                {{range .Comment}}

                                <!--REPLY USERNAME-->
                                <input hidden type="radio" name="Reply_USER_{{.Id}}" value="{{.User_posted}}" checked>
                                <!--REPLY USERNAME-->
                                <!--REPLY USER TANK-->
                                <input hidden type="radio" name="Reply_USER_RANK_{{.Id}}" value="{{.Rank_User_Posted}}"
                                    checked>
                                <!--REPLY USER RANK-->
                                <!--REPLY CONTENT-->
                                <input hidden type="radio" name="Reply_content_{{.Id}}" value="{{.Content_comment}}"
                                    checked>
                                <!--REPLY CONTENT-->

                                <div class="col-md-12 d-flex flex-row align-items-start p-2" href="#"
                                    style="background-color: #5f5f5f3b;">

                                    <div id="user" class="col-md-2 text-center">

                                        <h5 class="text-yellow">{{.User_posted}}</h5>
                                        <img class="w-50 rounded-circle shadow mt-2" src="https://picsum.photos/200/200"
                                            alt="">
                                        <p class="lastresp mt-2">Posted {{.Date_comment}}</p>

                                        {{ if eq .Rank_User_Posted "3" }}
                                        <span class="badge bg-success">Member</span>
                                        {{else if eq .Rank_User_Posted "2"}}
                                        <span class="badge bg-danger">Moderator</span>
                                        {{else if eq .Rank_User_Posted "1"}}
                                        <span class="badge bg-warning text-dark">Admin</span>
                                        {{end}}

                                    </div>

                                    <div class="col-md-10 ps-5 pe-2">

                                        <!--Reply-->
                                        {{if ne .Reply_user_rank "no_reply"}}
                                        <div id="profil" class="col-md-12 mt-4 p-4 border-profil position-relative">


                                            <div class="row g-3" style="text-align:center;">
                                                <div class="col-md-12 d-flex flex-row align-items-start p-2" href="#">

                                                    <div id="user" class="col-md-2 text-center">

                                                        <h5 class="text-yellow">{{.Reply_user}}</h5>
                                                        <img class="w-50 rounded-circle shadow mt-2"
                                                            src="https://picsum.photos/200/200" alt="">



                                                        {{ if eq .Reply_user_rank "3" }}
                                                        <span class="badge bg-success">Member</span>
                                                        {{else if eq .Reply_user_rank "2"}}
                                                        <span class="badge bg-danger">Moderator</span>
                                                        {{else if eq .Reply_user_rank "1"}}
                                                        <span class="badge bg-warning text-dark">Admin</span>
                                                        {{end}}


                                                    </div>

                                                    <div class="col-md-10 ps-5 pe-2" style="text-align: left;">

                                                        <!--Reply-->


                                                        <!--Reply-->

                                                        <p class="border-top pt-3 my-4"></p>
                                                        {{.Reply_content}}

                                                    </div>
                                                </div>




                                            </div>
                                        </div>{{end}}
                                        <!--Reply-->

                                        <p class="border-top pt-3 my-4"></p>
                                        {{.Content_comment}}

                                    </div>
                                </div>
                                <div class="col-md-12 px-2 py-4 mt-2 d-flex justify-content-end border-top"
                                    style="background-color: #ffc2bf3b;">
                                    <!-- SI AUTEUR DU POST-->
                                    <!-- <input hidden type="radio" name="Reply_content_{{.Id}}" value="{{.Content_comment}}"
                                    checked>
                                    <img src="./assets_global/img/icons/pngwing.com.png" style="width: 3%;"> -->
                                    
                                    {{if eq .User_posted .User_connected}}
                                    <a href="/post?={{.Id_post}}&deletec={{.Id}}" class="btn btn-danger btn-sm me-2"><i class="bx bx-trash"></i>
                                        Supprimer</a>
                                    <!-- <a href="" class="btn btn-primary btn-sm me-2"><i class="bx bx-edit-alt"></i>
                                        Éditer</a> -->
                                    {{else if eq .User_connected_rank "1"}}
                                    <a href="/post?={{.Id_post}}&deletec={{.Id}}" class="btn btn-danger btn-sm me-2" style="background-color: green;"><i
                                            class="bx bx-trash"></i> Supprimer [ADMIN]</a>
                                    <!-- <a href="" class="btn btn-primary btn-sm me-2" style="background-color: green;"><i
                                            class="bx bx-edit-alt"></i> Éditer [ADMIN]</a> -->
                                    {{else if eq .User_connected_rank "2"}}
                                    <a href="/post?={{.Id_post}}&deletec={{.Id}}" class="btn btn-danger btn-sm me-2" style="background-color: green;"><i
                                            class="bx bx-trash"></i> Supprimer [ADMIN]</a>
                                    <!-- <a href="" class="btn btn-primary btn-sm me-2" style="background-color: green;"><i
                                            class="bx bx-edit-alt"></i> Éditer [ADMIN]</a> -->
                                    {{end}}
                                       
                                    <!-- SI NON-->
                                    {{if ne .User_connected_rank "4"}}
                                    <a href="post?={{.Id_post}}&Reply_to={{.Id}}&#answer"
                                        class="btn btn-primary btn-sm me-2"><i class="bx bx-notepad"></i>
                                        Répondre</a>
                                    {{end}}

                                </div>
                                <br><br>
                                {{end}}
                                {{if eq .Rank "4"}}
                                <div class="col-md-12 px-2 mt-2 d-flex justify-content-end">
                                    <a class="btn btn-primary btn-sm me-2" href="/login"><i
                                            class="bx bx-edit-alt"></i>Login</a>
                                    <a class="btn btn-primary btn-sm me-2" href="/register"><i
                                            class="bx bx-edit-alt"></i>Register</a>
                                    <p id="answer"></p>

                                </div>
                                <br>
                                <textarea placeholder="..." name="Comment_Content" disable>

                            </textarea>
                                {{else if ne .Rank "4"}}
                                <div class="col-md-12 px-2 mt-2 d-flex justify-content-end">
                                    <a class="btn btn-primary btn-sm me-2" href="/login"><i
                                            class="bx bx-edit-alt"></i><button type="submit" value="comment"
                                            class="registerbuttonrelou" style="text-align: end;">Post your
                                            comment</button></a>

                                    <p id="answer"></p>
                                </div>
                                <br>

                                <textarea placeholder="..." name="Comment_Content">

                            </textarea>
                                {{end}}

                        </div>

                        </form>
                        <!-- FIN - Réponse -->

                       
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!---->
    <footer class="container mb-5">
        <div class="row divider"></div>
        <div class="row px-2 py-4">
            <div class="col-md-5">
                <p>Propulsé par <a href="#">GoForum</a> ver-1.0a • Design par <a href="#">NagDesign</a></p>
            </div>
            <div class="col-md-7 text-end">
                <p><a href="#">Nous contacter</a> | <a href="#">Membres</a> | <a href="#">Politique de
                        confidentialité</a> | <a href="#">Notre équipe</a> | <a href="#">Supprimer les cookies</a></p>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.tiny.cloud/1/a1oa0uw4ffrixbzpelg35rdxmzpx9imirkgfbkz5d62qcnuj/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script>
    <script src="./assets_global/js/main.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'a11ychecker casechange linkchecker autolink lists checklist permanentpen powerpaste',
            toolbar: '',
            toolbar_mode: 'floating',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
        });
    </script>
</body>

</html>