<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./assets_global/css/style.css" rel="stylesheet">
    <title>Réinitialise ton mot de passe</title>

</head>
<body>
    <input class="form-control form-control-sm"
    aria-describedby="nameedit" type="password" required=""
    placeholder="New password.." id="new_password"
    name="new_password">
<div class="col-md-1 p-2 text-end"><strong><label
            for="confirm_new_password">Confirm
            Password</label></strong></div>
<input class="form-control form-control-sm"
    aria-describedby="nameedit" type="password" *required=""
    placeholder="Confirm new password.."
    id="confirm_new_password"
    name="confirm_new_password">
</body>
</html>