<!DOCTYPE html>
<html lang="en" >
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Register</title>
    <link  href="./assets_global/css/register.css"rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <form action="/resend_mail" method="post">
      <!--Start resend-->
        <h3>Register here</h3>

        <label for="user_resend">Username</label>
        <input type="text" required placeholder="Username.." id="user_resend" name="user_resend">

        <label for="email_resend">Email</label>
        <input type = "text" required pattern = "^([a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3})$" placeholder="Email.." id="email_resend" name="email_resend">

        <button type="submit">Resend mail</button>
        <!--End resendr-->
    </form>
</body>
</html>
